@font-face {
    font-family: roboto;
    src: url(roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: shadows;
    src: url(shadowsintolight/ShadowsIntoLight.ttf);
}
#logo img{
    width: 50px;
}
#logo span{
    font-family: 'shadows';
    font-size: 1.5em;
    vertical-align: middle;
}
.navbar{
    background: linear-gradient(90deg,
    rgba(255, 204, 206, 0.9), 
    rgba(247, 255, 209, 0.9)
    );
}
#navbar a, nav i, #logo span {
    color: #ff322e;
    cursor: pointer;
}
#navbar a:hover {
    color: #262626;
}
#navbar button {
    background-color: #bbd43b;
}
.jumbotron.inicio {
    background-image: url(../img/1.jpg);
}
.jumbotron.colabora {
    background-image: url(../img/2.jpg);
}
.jumbotron.proyectos {
    background-image: url(../img/3.jpg);
}
.jumbotron.donacion {
    background-image: url(../img/4.jpg);
}
.jumbotron {
    background-size: cover;
    background-position: 50%;
    color: white;
    border-radius: 0 !important;
    padding-top: 7em !important;
    margin: 2em 0 !important;
}
.form-control {
    flex: 1;
    margin-right: 5px;
}
.form-inline {
    flex-flow: row;
}
footer p{
    padding: 2em;
}
#cards {
    min-height: 500px;
}

.progreso {
    background: #d7e6a9;
    height: 15px;
    border-radius: 5px;
    margin: 5px 0;
}
.progreso > span{
    display:block;
    background: repeating-linear-gradient(135deg, #81a90b,#81a90b 6px, #c0dc6c 6px, #c0dc6c 12px);
    background-color: #73901c;
    width: 0;
    height: 15px;
    border:solid 1px #81a90b;
    border-radius: 5px;
    margin: 5px 0;
}

.card-text.donacion {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(#81a90b, #637d14, #81a90b);
    border-radius: 10px;
    border: solid 1px #42540b;
}

main#inicio {
    margin-top: -2em;
}

@media screen and (max-width: 600px){
    .jumbotron.inicio {
        background-image: url(../img/1s.jpg);
    }
    .jumbotron.colabora {
        background-image: url(../img/2s.jpg);
    }
    .jumbotron.proyectos {
        background-image: url(../img/3s.jpg);
    }
    .jumbotron.donacion {
        background-image: url(../img/4s.jpg);
    }
}